[submodule "lib"]
	path = lib
	url = https://github.com/transpect/xlsx2html-lib.git
[submodule "xslt-util"]
	path = xslt-util
	url = https://github.com/transpect/xslt-util.git
[submodule "xproc-util"]
	path = xproc-util
	url = https://github.com/transpect/xproc-util.git
[submodule "calabash"]
	path = calabash
	url = https://github.com/transpect/calabash-frontend.git
